@media screen and (max-width: 600px) {
    /* --- <general class> ---*/

    .row {
        flex-direction: column;
    }

    /* --- <header> --- */

    header {
        padding: 30px 5%;
    }

    .menu-desktop, .login {
        display: none;
    }

    .btn-open-menu {
        display: block;
    }

    /* --- <main> --- */

    main {
        margin-top: 0px;
    }

    /* {first-section} */

    .first-section {
        padding: 0px 5%;
    }

    .first-section > .interface {
        padding-top: 0px;
    }

    .txt-content h1 {
        font-size: 32px;
        padding-bottom: 30px;
        line-height: 40px;
    }

    .txt-content p {
        font-size: 14px;
        padding-bottom: 27px;
        line-height: 18px;
        width: 355px;
    }

    .txt-content .btn-signup.-second {
        font-size: 18px;
        padding: 15px 20px;
        width: 100%;
    }

    .txt-content .btn-signup.-second {
        transform: none;
    }

    .img-content {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 35px;
    }

    .img-content img {
        top: 1%;
    }

    /* {second-section} */

    .second-section {
        background-color: var(--background2);
        padding: 0px 4%;
    }

    .second-section .title {
        font-size: 30px;
        padding: 35px 0px 50px 0px;
        line-height: 35px;
        width: 350px;
    }

    .wrapper-content {
        justify-content: center;
        gap: 30px;
        margin-bottom: 35px;
    }

    .wrapper-content .itens:hover {
        background-color: transparent;
        transition: none;
    }

    /* {third-section} */

    .third-section .title.-second {
        font-size: 27px;
        text-align: center;
        padding: 35px 0px;
        line-height: 35px;
    }

    .third-section .interface > .row {
        flex-direction: column-reverse;
    }

    .img-content2 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 35px;
    }

    .img-content2 img {
        left: 0%;
    }

    .grid-content {
        grid-template-rows: repeat(4, 130px);
        grid-template-columns: none;
    }

    /* {fourth-section} */

    .fourth-section {
        padding: 55px 5%;
    }

    .fourth-section > .interface {
        border-radius: 25px;
        height: auto;
    }

    .fourth-section .title.-third {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding: 30px 0px 0px;
        max-width: 300px;
    }

    .plans {
        padding: 40px 0px;
    }

    .plans .card-free, .card-standard, .card-duo, .card-family {
        height: 527px;
        width: 320px;
    }

    /* ~ group1 ~ */

    .group1 {
        height: 110px;
        margin-bottom: 12px;
    }

    /* ~ group2 ~ */

    .group2 {
        height: 250px;
        padding-top: 12px;
    }

    /* ~ group3 ~ */

    .fourth-section .group3 .btn-signup.-third {
        transform: none;
        margin-top: 15px;
    }

    /* ~ group4 ~ */

    .group4 p {
        padding-top: 20px;
    }

    /* --- <footer> --- */

    footer {
        padding: 0px 5%;
    }

    footer > .interface {
        height: auto;
    }

    footer .footer-social {
        background-color: var(--secondary2);
        height: 285px;
        width: 100%;
    }

    .footer-social .social {
        padding: 30px;
        margin-top: 0px;
        height: 185px;
    }

    .footer-links {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
}